<ion-header [translucent]="true">
  <ion-toolbar color="am3">
    <ion-title>
      Playlist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="am2">


  <ion-card color="am">
    <img src="https://i.scdn.co/image/ab67616d0000b2730c8ac83035e9588e8ad34b90" alt="">

    <ion-item color="am" href="https://www.youtube.com/watch?v=qU9mHegkTc4">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label class="ion-text-center">505 - <br> Arctic Monkeys</ion-label>
      <ion-badge color="azulclaro">4:14</ion-badge>
    </ion-item>

    <ion-card-content>

    </ion-card-content>
  </ion-card>


  <ion-card color="am" href="https://www.youtube.com/watch?v=ma9I9VBKPiw">
    <img src="https://i.scdn.co/image/ab67616d0000b2730c8ac83035e9588e8ad34b90" alt="">

    <ion-item color="am">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label class="ion-text-center">fluorescent <br> adolescent - <br> Arctic Monkeys</ion-label>
      <ion-badge color="azulclaro">2:58</ion-badge>
    </ion-item>

    <ion-card-content>

    </ion-card-content>
  </ion-card>

  <ion-card color="am" href="https://www.youtube.com/watch?v=ma9I9VBKPiw">
    <img src="https://i.scdn.co/image/ab67616d0000b273758b7328e71d56dfa11fabf9" alt="">

    <ion-item color="am">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label class="ion-text-center">Cornerstone - <br> Arctic Monkeys</ion-label>
      <ion-badge color="azulclaro">3:15</ion-badge>
    </ion-item>

    <ion-card-content>

    </ion-card-content>
  </ion-card>

  <ion-card color="am" href="https://www.youtube.com/watch?v=6366dxFf-Os">
    <img src="https://i.scdn.co/image/ab67616d0000b2734ae1c4c5c45aabe565499163" alt="">

    <ion-item color="am">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label class="ion-text-center">Why'd you only call <br> me when you're high  - <br> Arctic Monkeys</ion-label>
      <ion-badge color="azulclaro">2:41</ion-badge>
    </ion-item>

    <ion-card-content>

    </ion-card-content>
  </ion-card>

  <ion-card color="am" href="https://www.youtube.com/watch?v=nyuo9-OjNNg">
    <img src="https://i.scdn.co/image/ab67616d0000b2734ae1c4c5c45aabe565499163" alt="">

    <ion-item color="am">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label class="ion-text-center">I Wanna Be Yours - <br> Arctic Monkeys</ion-label>
      <ion-badge color="azulclaro">3:04</ion-badge>
    </ion-item>

    <ion-card-content>

    </ion-card-content>
  </ion-card>


</ion-content>
