<ion-header [translucent]="true" color="am3">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-card color="">
    <img src="https://upload.wikimedia.org/wikipedia/en/a/ae/Favourite_Worst_Nightmare.jpg" alt="">

    <ion-item color="">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label class="ion-text-center">505 - <br> Arctic Monkeys</ion-label>
      <ion-badge color="azulclaro">4:14</ion-badge>
    </ion-item>

    <ion-card-content>

    </ion-card-content>
  </ion-card>


  <ion-card color="">
    <img src="https://upload.wikimedia.org/wikipedia/en/a/ae/Favourite_Worst_Nightmare.jpg" alt="">

    <ion-item color="">
      <ion-icon name="play-circle-outline"></ion-icon>
      <ion-label class="ion-text-center">fluorescent <br> adolescent - <br> Arctic Monkeys</ion-label>
      <ion-badge color="azulclaro">2:58</ion-badge>
    </ion-item>

    <ion-card-content>

    </ion-card-content>
  </ion-card>


</ion-content>
