<ion-header>
  <ion-toolbar  color="am3">
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="am2">

  <ion-searchbar color="dark" placeholder="Buscar"></ion-searchbar>

  <ion-card color="am">
    <img src="https://thumbs.gfycat.com/BaggyAbandonedBichonfrise-size_restricted.gif" alt="">

    <ion-item color="amareloclaro">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label class="ion-text-center">Quem são?</ion-label>
    </ion-item>

    <ion-card-content>
      Arctic Monkeys é uma banda britânica de rock formada em 2002 nos subúrbios da cidade de Sheffield, na Inglaterra.
      O grupo é formado por Alex Turner (vocal, guitarra), Matt Helders (bateria, backing vocal), Jamie Cook (guitarra)
      e Nick O'Malley (baixo, backing vocal).
      <br>
      <br>

      A banda já lançou seis álbuns de estúdio: Whatever People Say I Am, That's What I'm Not (2006),
      Favourite Worst Nightmare (2007), Humbug (2009), Suck It and See (2011), AM (2013) e Tranquility
      Base Hotel & Casino (2018). Seu primeiro álbum foi o disco de estreia que vendeu mais rápido na história
      das paradas de sucesso britânicas e, em 2013, a revista Rolling Stone o nomeou como o 30º melhor álbum de
      todos os tempos.
    </ion-card-content>
  </ion-card>


</ion-content>
