// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** grama **/
  --ion-color-grama: #9bcc50;
  --ion-color-grama-rgb: 155,204,80;
  --ion-color-grama-contrast: #000000;
  --ion-color-grama-contrast-rgb: 0,0,0;
  --ion-color-grama-shade: #88b446;
  --ion-color-grama-tint: #a5d162;

  /** veneno **/
  --ion-color-veneno: #b97fc9;
  --ion-color-veneno-rgb: 185,127,201;
  --ion-color-veneno-contrast: #000000;
  --ion-color-veneno-contrast-rgb: 0,0,0;
  --ion-color-veneno-shade: #a370b1;
  --ion-color-veneno-tint: #c08cce;


  --ion-color-fogo: #fd7d24;
  --ion-color-fogo-rgb: 253,125,36;
  --ion-color-fogo-contrast: #000000;
  --ion-color-fogo-contrast-rgb: 0,0,0;
  --ion-color-fogo-shade: #df6e20;
  --ion-color-fogo-tint: #fd8a3a;


  --ion-color-agua: #4592c4;
  --ion-color-agua-rgb: 69,146,196;
  --ion-color-agua-contrast: #000000;
  --ion-color-agua-contrast-rgb: 0,0,0;
  --ion-color-agua-shade: #3d80ac;
  --ion-color-agua-tint: #589dca;


  --ion-color-eletrico: #eed535;
  --ion-color-eletrico-rgb: 238,213,53;
  --ion-color-eletrico-contrast: #000000;
  --ion-color-eletrico-contrast-rgb: 0,0,0;
  --ion-color-eletrico-shade: #d1bb2f;
  --ion-color-eletrico-tint: #f0d949;

  --ion-color-normal: #a4acaf;
  --ion-color-normal-rgb: 164,172,175;
  --ion-color-normal-contrast: #000000;
  --ion-color-normal-contrast-rgb: 0,0,0;
  --ion-color-normal-shade: #90979a;
  --ion-color-normal-tint: #adb4b7;

  --ion-color-fada: #fdb9e9;
  --ion-color-fada-rgb: 253,185,233;
  --ion-color-fada-contrast: #000000;
  --ion-color-fada-contrast-rgb: 0,0,0;
  --ion-color-fada-shade: #dfa3cd;
  --ion-color-fada-tint: #fdc0eb;


  --ion-color-psy: #f366b9;
  --ion-color-psy-rgb: 243,102,185;
  --ion-color-psy-contrast: #000000;
  --ion-color-psy-contrast-rgb: 0,0,0;
  --ion-color-psy-shade: #d65aa3;
  --ion-color-psy-tint: #f475c0;

  --ion-color-gao: #f16e57;
  --ion-color-gao-rgb: 241,110,87;
  --ion-color-gao-contrast: #000000;
  --ion-color-gao-contrast-rgb: 0,0,0;
  --ion-color-gao-shade: #d4614d;
  --ion-color-gao-tint: #f27d68;

  --ion-color-dra: #53a4cf;
  --ion-color-dra-rgb: 83,164,207;
  --ion-color-dra-contrast: #000000;
  --ion-color-dra-contrast-rgb: 0,0,0;
  --ion-color-dra-shade: #4990b6;
  --ion-color-dra-tint: #64add4;

  --ion-color-darkk: #707070;
  --ion-color-darkk-rgb: 112,112,112;
  --ion-color-darkk-contrast: #ffffff;
  --ion-color-darkk-contrast-rgb: 255,255,255;
  --ion-color-darkk-shade: #636363;
  --ion-color-darkk-tint: #7e7e7e;

  --ion-color-red: #b22222;
  --ion-color-red-rgb: 178,34,34;
  --ion-color-red-contrast: #ffffff;
  --ion-color-red-contrast-rgb: 255,255,255;
  --ion-color-red-shade: #9d1e1e;
  --ion-color-red-tint: #ba3838;

  --ion-color-black: #1C1C1C;
  --ion-color-black-rgb: 28,28,28;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255,255,255;
  --ion-color-black-shade: #191919;
  --ion-color-black-tint: #333333;
}

.ion-color-grama {
  --ion-color-base: var(--ion-color-grama);
  --ion-color-base-rgb: var(--ion-color-grama-rgb);
  --ion-color-contrast: var(--ion-color-grama-contrast);
  --ion-color-contrast-rgb: var(--ion-color-grama-contrast-rgb);
  --ion-color-shade: var(--ion-color-grama-shade);
  --ion-color-tint: var(--ion-color-grama-tint);
}

.ion-color-veneno {
  --ion-color-base: var(--ion-color-veneno);
  --ion-color-base-rgb: var(--ion-color-veneno-rgb);
  --ion-color-contrast: var(--ion-color-veneno-contrast);
  --ion-color-contrast-rgb: var(--ion-color-veneno-contrast-rgb);
  --ion-color-shade: var(--ion-color-veneno-shade);
  --ion-color-tint: var(--ion-color-veneno-tint);
}

.ion-color-fogo {
  --ion-color-base: var(--ion-color-fogo);
  --ion-color-base-rgb: var(--ion-color-fogo-rgb);
  --ion-color-contrast: var(--ion-color-fogo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fogo-contrast-rgb);
  --ion-color-shade: var(--ion-color-fogo-shade);
  --ion-color-tint: var(--ion-color-fogo-tint);
}

.ion-color-agua {
  --ion-color-base: var(--ion-color-agua);
  --ion-color-base-rgb: var(--ion-color-agua-rgb);
  --ion-color-contrast: var(--ion-color-agua-contrast);
  --ion-color-contrast-rgb: var(--ion-color-agua-contrast-rgb);
  --ion-color-shade: var(--ion-color-agua-shade);
  --ion-color-tint: var(--ion-color-agua-tint);
}

.ion-color-eletrico {
    --ion-color-base: var(--ion-color-eletrico);
    --ion-color-base-rgb: var(--ion-color-eletrico-rgb);
    --ion-color-contrast: var(--ion-color-eletrico-contrast);
    --ion-color-contrast-rgb: var(--ion-color-eletrico-contrast-rgb);
    --ion-color-shade: var(--ion-color-eletrico-shade);
    --ion-color-tint: var(--ion-color-eletrico-tint);
  }

.ion-color-normal {
    --ion-color-base: var(--ion-color-normal);
    --ion-color-base-rgb: var(--ion-color-normal-rgb);
    --ion-color-contrast: var(--ion-color-normal-contrast);
    --ion-color-contrast-rgb: var(--ion-color-normal-contrast-rgb);
    --ion-color-shade: var(--ion-color-normal-shade);
    --ion-color-tint: var(--ion-color-normal-tint);
  }

.ion-color-fada {
    --ion-color-base: var(--ion-color-fada);
    --ion-color-base-rgb: var(--ion-color-fada-rgb);
    --ion-color-contrast: var(--ion-color-fada-contrast);
    --ion-color-contrast-rgb: var(--ion-color-fada-contrast-rgb);
    --ion-color-shade: var(--ion-color-fada-shade);
    --ion-color-tint: var(--ion-color-fada-tint);
  }

.ion-color-psy {
    --ion-color-base: var(--ion-color-psy);
    --ion-color-base-rgb: var(--ion-color-psy-rgb);
    --ion-color-contrast: var(--ion-color-psy-contrast);
    --ion-color-contrast-rgb: var(--ion-color-psy-contrast-rgb);
    --ion-color-shade: var(--ion-color-psy-shade);
    --ion-color-tint: var(--ion-color-psy-tint);
}

.ion-color-dra {
    --ion-color-base: var(--ion-color-dra);
    --ion-color-base-rgb: var(--ion-color-dra-rgb);
    --ion-color-contrast: var(--ion-color-dra-contrast);
    --ion-color-contrast-rgb: var(--ion-color-dra-contrast-rgb);
    --ion-color-shade: var(--ion-color-dra-shade);
    --ion-color-tint: var(--ion-color-dra-tint);
}

.ion-color-darkk {
    --ion-color-base: var(--ion-color-darkk);
    --ion-color-base-rgb: var(--ion-color-darkk-rgb);
    --ion-color-contrast: var(--ion-color-darkk-contrast);
    --ion-color-contrast-rgb: var(--ion-color-darkk-contrast-rgb);
    --ion-color-shade: var(--ion-color-darkk-shade);
    --ion-color-tint: var(--ion-color-darkk-tint);
}

.ion-color-red {
  --ion-color-base: var(--ion-color-red);
  --ion-color-base-rgb: var(--ion-color-red-rgb);
  --ion-color-contrast: var(--ion-color-red-contrast);
  --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb);
  --ion-color-shade: var(--ion-color-red-shade);
  --ion-color-tint: var(--ion-color-red-tint);
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
  --ion-color-base-rgb: var(--ion-color-black-rgb);
  --ion-color-contrast: var(--ion-color-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-black-shade);
  --ion-color-tint: var(--ion-color-black-tint);
}